.maxWidth {
  width: 80%;
  margin: 0 auto;
}
.header {
  padding-top: 30px;
  position: relative;
  z-index: 10;
}

.Nav {
  width: 100%;
  display: flex;
  align-items: center;
}
.navList {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 50%;

  li {
    display: block;
  }

  li a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    transition: color 0.2s;
  }
  a:hover {
    color: #f2e097;
  }
}

.logo {
  color: #fff;
  width: 50%;
}
