.maxWidth {
  width: 70%;
  margin: 0 auto;
}

.container {
  padding: 5rem 0;
  font-family: "Inter Tight", sans-serif;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  .description {
    max-width: 480px;
    display: flex;
    flex-direction: column;

    span {
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      font-weight: 700;
      color: #6415ff;
    }

    h2 {
      font-size: 2.5rem;
      line-height: 60px;
      font-weight: 900;
      color: #243e63;
    }

    p {
      font-size: 18px;
      font-weight: 300;
      line-height: 28px;
      font-weight: 500;
      color: #667892;
    }
  }
  .image {
    img {
      width: 100%;
      max-width: 594px;
      border-radius: 10px;
    }
  }
}

@media (max-width: 992px) {
  .content {
    flex-direction: column;
    gap: 2rem;

    .description {
      width: 100%;
    }

    .image {
      img {
        width: 100%;
      }
    }
  }
}
