.maxWidth {
  width: 70%;
  margin: 0 auto;
}
.header {
  width: 100%;
  padding: 30px 0;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 10;
}

.Nav {
  width: 100%;
  display: flex;
  align-items: center;
}
.navList {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;

  li {
    display: block;
  }

  li a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    transition: color 0.2s;
  }
  a:hover {
    color: #f2e097;
  }
}

.logo {
  color: #fff;
  width: 100%;
}
@media (max-width: 1124px) {
  .logo {
    display: flex;
    justify-content: end;
  }
}
