@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto+Mono:wght@300;500&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima&family=Inter+Tight:wght@300;400;500;700;900&family=Inter:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #f3f3f3;
}

body {
  background-color: #fff;
}

body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
:target {
  scroll-margin-top: 0.8em;
}
