.top {
  color: #141b29;
  display: flex;
  background: url("/bg6.jpg") center;
  height: 80vh;
  width: 100%;
  background-size: cover;
  box-shadow: inset -50px -50px 150px #000;
  position: absolute;
  top: 0;
  z-index: 1;
}
.maxWidth {
  width: 80%;
  margin: 0 auto;
}
.topContent {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  color: #fff;
  padding-top: 80px;

  .title {
    h1 {
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 4rem;
      margin-bottom: 0;
    }
  }
  .subTitle {
    p {
      font-family: "Roboto Mono", monospace;
      font-weight: 300;
      font-style: italic;
      font-size: 1.5rem;
      color: #f2e097;
    }
  }
}
@media (max-width: 992px) {
  .topContent {
    align-items: start;
  }
  .top {
    height: 50vh;
    .title {
      h1 {
        font-size: 2rem;
        margin-bottom: 2rem;
      }
    }
    .subTitle {
      p {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 524px) {
  .top {
    height: 280px;
    width: 100%;
  }
}
