// .section {
//   background-color: #f2e097;
// }
.maxWidth {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 5rem 0;
  // height: 300px;
  font-family: "Inter Tight", sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 60px;
    font-weight: 900;
    color: #243e63;
  }
  p {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    font-weight: 500;
    color: #667892;
    padding: 1rem 0;
  }
}
@media (max-width: 992px) {
  .content {
    h2 {
      font-size: 1.5rem;
      line-height: initial;
    }
    p {
      font-size: 1rem;
    }
  }
}
@media (max-width: 524px) {
  .content {
    h2 {
      font-size: 1rem;
    }
    p {
      font-size: 0.875rem;
    }
  }
}
